#main{
    a{
        &:focus, &:active, &:visited{
            text-decoration: none;
        }
    }
    overflow-x: hidden;
    .navbar-custom{
        border-radius: 0;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        a:not(.navbar-brand){
            text-transform: uppercase;
            padding: 40px 15px;
            font-weight: bold;
            color: #ffffff;
            
            -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            transition: padding .5s ease-in-out,padding .5s ease-in-out;

            &:hover{
                background-color: inherit;
            }

            &:focus{
                background-color: inherit;
            }

            &:active{
                background-color: inherit;
            }
        }
         .navbar-brand{
            padding: 25px 15px;
            font-weight: bold;
            color: #ffffff;
            
            -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            transition: padding .5s ease-in-out,padding .5s ease-in-out;
        }
        .navbar-toggle{
            margin-top: 30px;
            -webkit-transition: margin .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: margin .5s ease-in-out,padding .5s ease-in-out;
            transition: margin .5s ease-in-out,padding .5s ease-in-out;
        }

        .icon-bar{
            background-color:#ffffff;
        }
        &.top-nav-collapse {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: #ffffff !important;
            a:not(.navbar-brand){
                padding: 15px;
                color: #28313b;
                -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                transition: padding .5s ease-in-out,padding .5s ease-in-out;
            }
            .navbar-brand{
                padding: 0 15px;
                font-weight: bold;
                color: #ffffff;
                
                -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                transition: padding .5s ease-in-out,padding .5s ease-in-out;
            }
            .icon-bar{
                background-color:#000000;
            }
            .navbar-toggle{
                margin-top: 5px;
                -webkit-transition: margin .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: margin .5s ease-in-out,padding .5s ease-in-out;
                transition: margin .5s ease-in-out,padding .5s ease-in-out;
            }
        }

        .navbar-toggle{
            .icon-bar {
                position: relative;
                transition: all 500ms ease-in-out;
                &:nth-of-type(2) {
                    top: 1px;
                }
                &:nth-of-type(3) {
                    top: 2px;
                }
            }
            &.active{
                .icon-bar {
                    &:nth-of-type(1) {
                        top: 6px;
                        transform: rotate(45deg);
                    }
                    &:nth-of-type(2) {
                         background-color: transparent;
                    }
                    &:nth-of-type(3) {
                        top: -6px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .banner{
        height: 100vh;        
        .slick-dots{
            padding: 0 46px;
            bottom: 30px;
            text-align: right;
            button:before{
                font-size: 14px;
                color: #000000;
                opacity: 1;
            }
            .slick-active{
                button:before{
                    color: #ffffff;
                }
            }
        }
        .banner-background{
            position: relative !important; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
            margin: 0;
            &-overlay{
                &-1{
                    background: url('../images/banner.jpg') no-repeat;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    width: 100%; /* Full width (cover the whole page) */
                    height: 100vh; /* Full height (cover the whole page) */
                    top: 0; 
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
                &-2{
                    background: url('../images/main-banner.jpg') no-repeat;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    width: 100%; /* Full width (cover the whole page) */
                    height: 100vh; /* Full height (cover the whole page) */
                    top: 0; 
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
                &-3{
                    background: url('../images/main-banner2.jpg') no-repeat;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    width: 100%; /* Full width (cover the whole page) */
                    height: 100vh; /* Full height (cover the whole page) */
                    top: 0; 
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
                &-4{
                    background: url('../images/main-banner3.jpg') no-repeat;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    width: 100%; /* Full width (cover the whole page) */
                    height: 100vh; /* Full height (cover the whole page) */
                    top: 0; 
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
            }            
        }

        .banner-carousel{
            display: block;
        }
        .web-slogan{
            position: absolute;
            top: 25%;
            color: white;
            z-index: 2;
            display: none;
            .banner-button{
                width: 70px;
                height: 70px;
                margin-top: 15px;
                padding: 7px 16px;
                border: 2px solid #fff;
                border-radius: 100%!important;
                font-size: 40px;
                color: #fff;
                cursor: pointer;
                background: rgba(255,255,255,0.3);
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                i.animated {
                    -webkit-animation-name: pulse;
                    -moz-animation-name: pulse;
                    -webkit-animation-duration: 1.5s;
                    -moz-animation-duration: 1.5s;
                    -webkit-animation-iteration-count: infinite;
                    -moz-animation-iteration-count: infinite;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-timing-function: linear;
                }
            }
            .web-slogan-text{
                line-height: 1.6;
            }
        }
        .banner-content{
            position: relative;
            z-index: 2;
            .banner-content-area{
                position: absolute;
                top: 50vh;
                .banner-title{
                    color: white;
                    font-size: 4em;
                    font-weight: bolder;
                }
                .banner-description{
                    color: #c4c4c6;
                    font-size: 18px;
                    line-height: 1.5;
                    text-align: justify;
                }
                @mixin active-portfolio {
                    color: #fff;
                    background-color: #e59f28;
                    border-color: #e59f28
                }
                .btn{
                    border-radius: 0;
                }
                .btn-porfolio{
                    color: #fff;
                    background-color: #fbb031;
                    border-color: #fbb031;
                    font-size: 25px;
                    width: 45%;
                    padding: 10px;
                    font-weight: bold;
                    &:active{
                        @include active-portfolio;
                    }
                    &:focus{
                        @include active-portfolio;
                    }
                    &:hover{
                        @include active-portfolio;
                    }
                }
                @mixin active-hire {
                    color: #fff;
                    background-color: #03a8de;
                    border-color: #03a8de
                }
                .btn-hire{
                    color: #fff;
                    background-color: #00bffe;
                    border-color: #00bffe;
                    font-size: 25px;
                    width: 45%; 
                    padding: 10px;
                    font-weight: bold;
                    &:active{
                        @include active-hire;
                    }
                    &:focus{
                        @include active-hire;
                    }
                    &:hover{
                        @include active-hire;
                    }
                }
            }
        }
   
        .carousel-title{
            color:#ffffff;
            font-weight: bolder;
        }
        

        .slick-prev{
            left: -50px;
            &:before {
                content: '\f053';
                background-color: #00BFFE;
                font-family: fontawesome;
                padding: 20px;
                padding-right: 25px;
            }
        }

        .slick-next{
            right: -10px;
            &:before {
                content: '\f054';
                background-color: #E3A234;
                font-family: fontawesome;
                padding: 20px;
                padding-left: 25px;
            }
        }
    }

    #services{
        background: #ffffff;
        display: flex;
        align-items: center;
        .row {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
        }
       
    }


    .cdl-logo{
        width: 250px;
    }
    .cdl-logo-xs{
        width: 80px;
    }

    @-webkit-keyframes pulse {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @-moz-keyframes pulse {
        from {
            -moz-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -moz-transform: scale(1.2);
            transform: scale(1.2);
        }

        100% {
            -moz-transform: scale(1);
            transform: scale(1);
        }
    }
    .our-services{
        .container{
            margin-bottom: 100px;
            h2{
                color: black;
                span{
                    color: orange;
                }
            }
            .row{
                .col{
                    img{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
        }
    }
    .gallery{
        .container{
            img{
                border: 5px solid white;
            }
            .row{
                padding: 0px;
                .col{
                    padding: 0px;
                }
                .right{
                    float: right;
                    img{
                        width: 100%;
                        height: 36vw;
                    }
                }
                .left{
                    float: left;
                    img{
                        width: 100%;
                        height: 18vw;
                    }
                }
            }
            .second{
                .col{
                    img{
                         width: 100%;
                         height: 18vw;
                    }
                }
            }
        }
       .view{
           padding: 0px;
           border: 5px solid white;
            .view-details{
                background-image: url('../images/main-banner3.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                a{
                    background-color: rgba(44, 104, 235, 0.19);
                    padding: 10px 30px;
                    font-size: 25px;
                    color: white;
                    border-radius: 0px;
                    margin-top: 80vh;
                    margin-bottom: 20vh;
                }
            }
        }
        .last-row{
            .row{
                .col{
                    img{
                        width: 100%;
                        height: 18vw;
                    }
                }
            }
        }
    }

    @media (max-width: 893px){
        .gallery{
            .container{
                .row{
                    .col{
                        width: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

